- @slides.each do |slide|
  .fullscreen.background{"data-img-height" => "1064", "data-img-width" => "1600", :style => "background: url(#{slide.path});", id: slide.id}
    .content-a
      = "DBC Test Slide ##{slide.id}"
