#slideshow-container
  %figure#slideshow
    %img{:alt => "", :src => "dada-voltaire-tinkerbot.jpg"}
      %img{:alt => "", :src => "happy-bot-tinkerbot.jpg"}
        %img{:alt => "", :src => "sgt-swift-tinkerbot.jpg"}
          %img{:alt => "", :src => "xf-3-fandicaff-tinkerbot.jpg"}
