!!!
%html
  %head
    %title DBCtv
    = stylesheet_link_tag    'application', media: 'all'
    %link{:rel => "stylesheet", :src => "//normalize-css.googlecode.com/svn/trunk/normalize.css"}/
    = csrf_meta_tags

  %body#page
    = yield

  %header
    =link_to image_tag( "gear.png", class: "img-responsive max-20p" ), login_path
